/* Gradient
background: #000046;  /* fallback for old browsers */
/*background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


/* COLOR PALETTE  - Dark to light blue
#1b262c   black
#0f4c75   dark opaque blue
#03163f  DARK STRONG BLUE
#3282b8   opaque blue
#bbe1fa   light blue
#0FA6FF   bright blue




/* -------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------- */

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #403d3d;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 22px;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom:1}
.clearfix:after {
    content: '.';
    clear: both;
    display:block;
    height: 0;
    visibility:hidden;
}

/* -------------------------------------- */
/* REUSABLE COMPONENTS */

.row {
    max-width: 1140px;
    margin:0 auto;
}

section {
    padding: 80px 0;
    }

.box {
    padding: 1%;

}

/* ----------------- HEADINGS --------------- */
h1,h2, h3 {
    font-weight: 300;
    text-transform:uppercase;
}

h1{
    margin-top:0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 200%; /* must be relative size for responsive website, 200% of 20px specified in the html font-size  */
    word-spacing: 4px;
    letter-spacing: 1px;
    line-height: 140%

}

h2, h5 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 10px;
}

h2:after,
h5:after {
    display: block;
    height: 2px;
    width: 100px;
    background-color: #0FA6FF;
    content:" "; /* when using pseudo class :after specify the content, " " in this case */
    margin: 0 auto;
    margin-top:30px;
}
h4 {
    font-weight: 300;
    font-size: 120%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: #fff;
}
h5 {
    font-weight: 400;
    text-transform:uppercase;
    font-family: 'Lato', 'Arial', sans-serif;
    color: #000;
}

.box p {
    font-size: 90%;
    line-height: 145%; /* spacing between text lines */
}

.span {color: #0FA6FF;}

.white {color:white;}

/* --------------- ICONS ---------------- */
.icon-big{
    font-size: 350%;
    display: block;
    margin-bottom: 10px ;
    color: #18294d;
    margin-left:20%;
}

.icon-small {
    display: inline-block;
    width: 30px;
    color:#18294d;
    text-align: center;
    font-size:120%;
}

/* --------------- PARAGRAPHS ---------------- */

.long-copy,
.captain-paragraph {
    line-height: 145%;
    font-size: 90%;
    margin-top: 10px;/*width of text 70% of block, but it needs to be centered after*/
     /* 15% at left and right, plus 70% of text in the middle */
}

/* ---------------- LINKS ----------------- */
a:link,
a:visited {
    color: #0f97e6;
    text-decoration: none;
    border-bottom: 1px solid #0f97e6;
    padding-bottom: 1px;
    -webkit-transition: color 0.2s, border-bottom 0.2s;
    transition: color 0.2s, border-bottom 0.2s;
}
a:hover,
a:active{
    color: #000;
    border-bottom: transparent;
}

/* --------------- BUTTONS ---------------- */
.btn:link,
.btn:visited,
button,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;   /* 10px top and bottom, 30px left and right  */
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.3s;
    transition: background-color 0.2s, border 0.2s, color 0.3s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #3282b8;
    border: 1px solid #3282b8;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #3282b8;    /*  width  linetype   colour  */
    color: #3282b8;
}

.btn:hover,
.btn:active,
button:hover
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #0f4c75;
}

.btn-full:hover,
.btn-full:active,
.btn-dark:hover,
.btn-dark:active,
button:hover{
    border: 1px solid #0f4c75;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #0f4c75;    /*  width  linetype   colour  */
    color: #fff;
}

.btn-dark:link,
.btn-dark:visited,
button,
input[type=submit] {
    margin: 10px auto;
    background-color: #18294d;
    border: 1px solid #3282b8;
    color: #fff;
    text-align: center;
}

/* -------------------------------------- */
/* HEADER */
/* -------------------------------------- */

#home {
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.5)),to(rgba(0, 0, 0, 0.9))), url(img/speedbike.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.9)), url(img/speedbike.png);
    background-position: center;
    height: 100vh;    /*  100% of the viewport  */
    background-attachment: fixed;
}


/* Format for the title in the first main section  */
.home-text-box {
    position:absolute;
    width:1140px; /* same width as .row class, but absolutely positioned  */
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);/* translate element half of its width and height, up and to the left */
}

.home-text-box span{
    color:#3282b8;
}

.logo {
    height:40px;
    width: auto;
    float:left;
    margin: 10px 0;
}


/*---- Main navigation ----*/

.top-nav {
    width: 100%;
    max-width: 1600px;
}

.main-nav {          /* this is an unordered list */
    float: right;
    list-style:none;
    margin-top:15px;
}

.main-nav li {
    display:inline-block;
    margin-left: 40px;
    margin-right: 15px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent; /*margin not visible until we hover it */
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
    padding: 8px 0;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #0FA6FF;
}


/*---- Mobile navigation ----*/

.mobile-nav-icon {
    float:right;
    margin-top:10px;
    cursor:pointer;
    display:none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}



/*---- Sticky navigation ----*/
.sticky,
.sponsorsNav {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color: #18294d;
    -webkit-box-shadow: 0 2px 2px #0f4c75 ;
    box-shadow: 0 2px 2px #0f4c75 ;
    z-index: 9999;
    margin-top: 0;
}

.sticky .main-nav {margin-top:18px;}
.sticky .logo {
    margin-top:8px
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 17px 0;
}



/* -------------------------------------- */
/* INTORDUCTION - ABOUT US */
/* -------------------------------------- */
.section-intro {
    max-width: 900px;
    margin: 5px auto;
    padding: 50px 20px;
}
.section-intro p{
    line-height: 120%;
}

.intro span,
.role-text span{
    color:#0FA6FF;
    font-weight:400;
    letter-spacing: 0.8px
}



/* -------------------------------------- */
/* EXPERIENCE - Slideshow */
/* -------------------------------------- */

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}



/* -------------------------------------- */
/* EXPERIENCE */
/* -------------------------------------- */
.section-experience {
    padding:80px 0;
    text-align: center;
    background-color: #03163f;
    font-size: 120%;
    font-weight:350;
}

.experience-showcase {
    list-style: none;
    width: 100%;
}
.experience-showcase li {
    display: inline-block;
    width: 25%;
    margin:0 15px;
    color: #fff;
}
.experience-photo {
    width: 100%;
    overflow: hidden;
    background-color: transparent;
    border-radius:50%;
    border-color:none;
}
.experience-photo img {
    opacity: 0.75;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    -webkit-transform: scale(1);
    transform: scale(1); /* create zoom-in effect */
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
.experience-photo img:hover {
    opacity: 1;
    -webkit-transform: scale(0.90);
    transform: scale(0.90);
}


/*--------------------------------------- */
/* EXPERIENCE SLIDER */
/* -------------------------------------- */
/*
.img-slider {
    display: inline-block;
    height:101%;
    width:auto;
    margin:0 2px;
    transform: translate(-0%,-10%);
    margin-left: auto;

}
*/
.splide {
    margin: 0 auto;
    /*
    align-content: center;
    padding: 0 10px;
    */
}
/*
.splide__slide__container {
    margin:0 10px;
}
 */

/* -------------------------------------- */
/* PROJECTS */
/* -------------------------------------- */

.section-projects {
    background-color: #f4f4f4;
}
.section-projects h2 {
    margin-top:40px;
}

.project-box {
    border-bottom: 2px solid #e8e8e8;
    padding-bottom:40px;
    vertical-align: middle;
}
.project-box:last-child {
    border-bottom: none;
}
.project-img {
    display:inline-block;
    width: 100%;
    border-radius: 30px;
}
.project-right {
    margin-top: 30px;
    margin-bottom:15px;
    padding-left:1%;
    line-height: 130%;
    font-size: 80%;
}

.project-right h3 {
    font-size: 160%;
    margin-bottom: 20px;
}

.project-left {
    text-align: right;
    padding-right:1%;
    margin-top: 30px;
}

/* -------------------------------------- */
/* TEAM */
/* -------------------------------------- */


#header-members {
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.5)),to(rgba(0, 0, 0, 0.98))), url(img/team_background.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.98)), url(img/team_background.jpg);
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.section-team {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(15, 76, 117, 0.8)), to(rgba(12, 19, 23, 0.99))), url(img/15%20Snowbird.jpg);
    background-image: linear-gradient(to right, rgba(15, 76, 117, 0.8), rgba(12, 19, 23, 0.99)), url(img/15%20Snowbird.jpg);
    background-attachment: fixed;
    background-size: cover;
    color:#fff;
}

.section-captains {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:50px 0;
    /* height: 80%; */
}

.members-subtitle {
    margin: 0px 0 10px 0;
}
.member-photo img {
    display:inline-block;
    width:100%;
    margin-left:10%;
}

.captains-container,
.members-container {
    display: flex;
    margin: 20px 8%;

}
.members-container {
        flex-wrap: wrap;

}

.captain-container, .member-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.captain-container {
    width: 45%;
    margin:0 5%;
}

.captain-container img,
.member-container img {
    width: 100%;
  }

.member-container {
    position: relative;
    align-items: center;
    overflow: hidden;
    width: 20%;
    margin:20px 2%;
}
.member-container:hover .image {
    opacity: 0.2;
  }

.member-container:hover .middle {
    opacity: 1;
  }
  
.member-description {
    padding-left: 40px;
}

.middle {
    /* font-weight: 400; */
    transition: .7s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    padding: 0;
  }


.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

/* -------------------------------------- */
/* CONTACT */
/* -------------------------------------- */


.section-contact {
    max-width: 1100px;
    margin: auto;
    font-size: 95%;
}
.contact-box{
    max-width: 950px;
    margin: 25px auto;
    border-bottom: 2px solid #e8e8e8;
}

.contact-info{
    padding-left:20px;
}
.contact-info div{
    display:block;
}

.contact-info i{
    padding-top:-20px;
    float:left;
    margin-bottom: 35px;
}

.contact-info i:last-of-type {
    margin-bottom: 50px;
    margin-right: 15px;
}

.box-map {
    width:80%;
    margin-left:20%;
}

.map{
    width:100%;
    height:300px;
    opacity: 0.8;
    -webkit-transition: opacity 0.5s, -webkit-box-shadow 0.5s;
    transition: opacity 0.5s, -webkit-box-shadow 0.5s;
    transition: opacity 0.5s, box-shadow 0.5s ;
    transition: opacity 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
    border:0;
}

.map:hover {
    opacity: 1;
     -webkit-box-shadow: 1px 1px 5px #0f4c75;
     box-shadow: 1px 1px 5px #0f4c75;
}

.box-location div {
    margin:10px 0 20px 0;
}

.box-location{
    padding-top: 20px;
    padding-left: 30px;
}
.box-location h3 {
    color: #0f97e6;
    font-weight:400;
    letter-spacing: 1px
}

/* -------------------------------------- */
/* SPONSORS */
/* -------------------------------------- */
.header-sponsors {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(227, 227, 227, 0.22)),to(rgb(0, 0, 0))), url(img/TitanBackground.jpg);
    background-image: linear-gradient(to bottom, rgba(227, 227, 227, 0.22),rgb(0, 0, 0)), url(img/TitanBackground.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;    /*  100% of the viewport  */
    background-attachment: fixed;
}

.hero-sponsors {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align:center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 250, 250, 0.06)), color-stop(80%, rgba(11, 10, 10, 0.85)));
    background-image: linear-gradient(to bottom, rgba(250, 250, 250, 0.06), rgba(11, 10, 10, 0.85) 80%);
    position:relative;
    min-height: 100vh;
    overflow:hidden;
}

.sponsors-title {
    text-shadow:
    -1px -1px 5px rgba(202, 213, 221, 0.7),
    1px -1px 5px rgba(202, 213, 221, 0.7),
    -1px 1px 5px rgba(202, 213, 221, 0.7),
    1px 1px 5px rgba(202, 213, 221, 0.7);

}

.video-bg {
    position:fixed;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    min-width:100%;
    min-height: 100%;
    z-index:-1;
}


.header-text {
    position:absolute;
    width: 100%; /* same width as .row class, but absolutely positioned  */
    top:75%;
    left:50%;
    -webkit-transform: translate(-50%,-40%);
    transform: translate(-50%,-40%);
    padding-top:0;
}
.section-sponsors,
.contact-form {
    background-color: #f4f4f4;
    padding: 0;
}


.section-sponsors h2 {
    margin-bottom:0;
}

.makeAnImpact {
    display:block;
    margin: 20px 0 40px 0;
    text-align: center;
}

.light-sponsors {
    background-color: #fff;
    color: #18294d
}
.beige-sponsors{
    background-color:#f4f4f4
}

.sponsor-subtitle {
    display: inline-block;   /* 10px top and bottom, 30px left and right  */
    text-decoration: none;
    font-weight: 0,900;
    font-size: 140%;
    color: #18294d;
    margin-top:70px;
    text-align: center;
    border-radius: 10px;
    width:100%;
}

.box-sponsor {
    padding: 2% 3%;
    font-size: 90%;
}
.box-sponsor img{
    display:block;
    height: 80px;
    width:auto;
    margin:15px auto;
}
.box-sponsor-2 img{
    width: 100%;
    height: auto;
    font-size: 90%;
}

.silver-sponsor{
    padding: 2% 1%;
    overflow: hidden;
    font-size: 90%;
}
.silver-sponsor img{
    display: block;
    height: 50px;
    max-width: 100%;
    margin: auto;
}
.bronze-sponsor img,
.previous-sponsor img {
    display: block;
    width:70%;
    max-width: 100%;
    margin: auto;
}
.previous-sponsor img {
    width: 60%;
    margin-bottom: 10px;
}

.contact-form{
    margin: 0 auto;
    width:100%;
    background-color:#fff;
}

/* -------------------------------------- */
/* FOOTER */
/* -------------------------------------- */
footer {
    background-color: #18294d;
    font-size: 80%;
    padding: 40px;
    text-align: center;
}

.footer-nav {
    list-style: none;
}
.social-links {
    list-style: none;
    text-align: center;
    width:100%;
}

.footer-nav li,
.social-links li {
    display:inline-block;
    margin-right: 20px;
}

.footercol {
    width:100%;
    display: block}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    color:#cbcbcb;
    border:0;
}
.footer-nav li a:hover,
.footer-nav li a:active {
    color:#ddd;
}

footer p {
    color: #ddd;
    text-align:center;
    font-size:70%;
    margin-top: 10px;
}

.social-links li {
    font-size: 150%;
}
.ion-social-facebook,
.ion-social-youtube,
.ion-social-instagram {
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

.ion-social-facebook:hover {
    color: #0000db;
}
.ion-social-youtube:hover {
    color: #ed0000;
}
.ion-social-instagram:hover {
    color: #517fa4;
}
.ion-social-googleplus:hover {
    color: #d34836;
}


/* -------------------------------------- */
/* CONTACT FORM */
/* -------------------------------------- */


input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding:5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

input[type=checkbox]{
    margin:10px 5px 10px 0;
}

*:focus {outline: none;}

.gform {
    width:100%;
    height: 500px;
    font-size: 50%;
    border:0;
}

/* -------------------------------------- */
/* JOIN PAGE */
/* -------------------------------------- */

.team-positions {
    width:80%;
    text-align: center;
}
#header-join {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 251, 240, 0.18)),to(rgb(0, 0, 0))), url(img/join_2.jpg);
    background-image: linear-gradient(to bottom, rgba(255, 251, 240, 0.18),rgb(0, 0, 0)), url(img/join_2.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;    /*  100% of the viewport  */
    background-attachment: fixed;
}

.role-box img {
    width: 100%;
    overflow: hidden;
}

.header-text2 {
    position:absolute;
    width: 100%; /* same width as .row class, but absolutely positioned  */
    top:80%;
    left:50%;
    -webkit-transform: translate(-50%,-40%);
    transform: translate(-50%,-40%);
    padding-top:0;
}

/* The Close Button */

.js--close-general,
.js--close-electronics{
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;

}

.js--close-general:hover,
.js--close-general:focus,
.js--close-electronics:hover,
.js--close-electronics:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-general,
.modal-electronics {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height:100%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.79); /* Black w/ opacity */
}

.modal-header {
    padding: 2px 16px;
    background-color: #18294d;
    color: white;
}
.modal-title {
    margin-top:9px
}


.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #18294d;
  color: white;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  top:50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  max-width: 900px;
  border: 1px solid #888;
  width: 80%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  animation-name: animatetop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s
}

.apply {
    right:0;
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* -------------------------------------- */
/* ANIMATIONS */
/* -------------------------------------- */
.js--wp-1 {
    opacity:0;
}

.js--wp-1 .animated {
    opacity: 1;
}


.js--wp-2 {
    opacity:0;
}

.js--wp-2 .animated {
    opacity:1;
}


.large-header {
	position: relative;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}


.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
